# Build outputs
target/
build/
out/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs & reports (ajusta según uses)
*.log
allure-results/
allure-report/
test-output/
reports/
screenshots/
